/* Custom font */

@font-face {
    font-family: 'HV-Cocktail';
    src: url('/assets/fonts/HVCocktail-Regular.woff2') format('woff2'),
         url('/assets/fonts/HVCocktail-Regular.woff') format('woff'),
         url('/assets/fonts/HVCocktail-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* General Styling */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #F6EDE1;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-family: poppins;
}

.flex {
    display: flex;
}

.basic-text {
    border: 1px solid green;
    width: 70%;
    padding: 30px 0px 60px;
    text-align: center;
}

/* Headings */

h1 {
    font-family: 'HV-cocktail', sans-serif;
    font-size: 5rem;
    letter-spacing: 3px;
}

/* Buttons */

.dark-button {
    color: white;
    background-color: #3F322A; 
    padding: 20px;
    border-radius: 100px;
    text-decoration: none;
}

/* Structure */

.main-content {
        background: #F6EDE1;
        border: 1px solid blue;
        align-items: center; 
        justify-content: center;
        text-align: center;
        flex-direction: column;
}

.dog-image-container {
    border: 1px solid red;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
}

.dog-image-container img {
    width: 100px;
}
